@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$main: 'Inter', sans-serif;

$color1: #83FF00;
$color2: #7C00FF;
$color3: #0c0c0c;
$color4: rgb(122, 122, 122);
$color5: rgb(27, 27, 27);


