@import 'style';

body
{
    margin: 0;
    padding: 0;
    background-color: $color1;
    font-family: $main;
}

.list-item
{
    padding: 0px 20px;
    text-align: center;
    font-weight: 400;
    margin: 10px 15px;
}

.fas 
{
    font-size: 22px;
    color: black;
    transition: color 0.4s ease-in-out, transform 0.3s ease;

    &:hover
    {
        color: white;
        transform: scale(1.1);
    }
}

.container
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;

    &1
    {
        position: relative;
        z-index: 1;
        flex: 1;
        background-color: $color1;
        display: flex;
        flex-direction: column;

        &-nav
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 30px 50px;

            &-options
            {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-3
                {
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }
        }

        &-bottom
        {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            bottom: -100px;

            .kitty
            {
                position: absolute;
                bottom: -350px;
            }
        }
    }

    &2
    {
        flex: 1;
        background-color: $color3;
        z-index: 2;
        background-color: white;
        display: flex;
        flex-direction: column;

        &-top
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: top;

            &-cat
            {
                font-style: italic;
                padding: 40px 0px 10px;
                color: $color4;
            }

            &-kitty
            {
                font-size: 28px;
                font-weight: bold;
                color: $color5;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            &-button
            {
                padding: 10px 25px;
                background-color: black;
                color: white;
                border-radius: 24px;
                margin: 15px 0px;
                transition: background-color 0.5s ease-in-out; 
                transition: transform 0.3s ease-in-out;

                &:hover 
                {
                    background-color: $color1;
                    color: black;
                    border: solid 1px grey;
                    transform: scale(1.1);
                }
            }
        }

        &-bottom
        {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: top;

            &-describe1
            {
                width: 650px;
                text-align: center;
                color: rgb(58, 58, 58);
                border-bottom: solid 2px rgb(233, 233, 233);
                border-top: solid 2px rgb(233, 233, 233);
                padding: 20px 40px;
            }

            &-describe2
            {
                padding: 20px 0px;
                font-style: italic;
                font-weight: 600;
            }
        }
    }
}

